.act-popup {
	align-items: center;
	background-color: #11111150;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
	z-index: 99999;
	&.bottom {
		justify-content: end;
		bottom: 0px;
		top: 0px;
		height: auto;
	}
	&__container {
		max-width: calc($act-page-max-width/2);
		padding: map-get($act-space, "desktop-2");
		width: 100%;
		&.act-cookie-consent {
			max-width: 100%;
			padding: 0;
			width: 100%;
		}
	}
	&__content {
		background-color: $act-colour__white;
		display: flex;
		flex-direction: column;
		padding: map-get($act-space, "desktop-4");
		width: 100%;
	}
	&__block {
		display: flex;
		&:first-of-type {
			align-items: flex-start;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: map-get($act-space, "desktop-1");
		}
		&:last-of-type {
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-start;
		}
		i {
			font-size: $act-font-size__desktop-h4;
		}
	}
	&__close {
		cursor: pointer;
	}
}

.act-full-page-banner {
	&__container {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		height: 100%;
		width: 100%;
		@include devices(mobile) {
			display: flex;
			flex-direction: column;
		}
	}
	&__content {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		width: 100%;
		//For demo purposes only
		.demo-content {
			align-items: center;
			background-color: $act-colour__black;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			padding: $act-space__desktop-4;
			width: 100%;
			@include devices(mobile) {
				padding: $act-space__desktop-2;
			}
			&__title {
				color: white;
				font-size: 2rem;
				font-weight: bold;
			}
			&__subtitle {
				color: white;
				font-size: 1rem;
			}
			&__button {
				background-color: white;
				border-radius: 1rem;
				color: blue;
				font-size: 1.5rem;
				font-weight: bold;
				margin-top: 1rem;
				padding: 1rem;
			}
		}
	}
	&__content:first-of-type {
		background-color: red;
		@include devices(mobile) {
			order: 2;
		}
	}
}

//For demo purposes only
// .act-body > .act-full-page-banner {
// 	top: 500px;
// 	width: 100%;
// }
