.act-breaker {
	align-items: flex-start;
	background-color: $act-colour__success-light-purple-background;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: map-get($act-space, "desktop-2");
	width: 100%;
	&__content {
		color: $act-colour__purple;
		font-size: $act-font-size__desktop-h4;
		font-weight: $act-font-weight__semibold;
		line-height: $act-line-height__130;
	}
}

.act-download-link {
	font-family: $sourcesanspro;
}

.act-key-message {
	align-items: flex-start;
	background-color: $act-colour__success-light-purple-background;
	border: 1px solid $act-colour__purple;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: map-get($act-space, "desktop-3");
	margin-bottom: map-get($act-space, "desktop-3");
	width: 100%;
	&__content {
		color: $act-colour__black;
		font-size: $act-font-size__desktop-h4;
		font-weight: $act-font-weight__semibold;
		line-height: $act-line-height__130;
	}
}

.act-quote {
	align-items: flex-start;
	color: $act-colour__purple;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: map-get($act-space, "desktop-2") 0px;
	width: 100%;
	&__icon {
		align-items: flex-start;
		display: flex;
		font-size: $act-font-size__desktop-h2;
		justify-content: flex-start;
		margin-right: map-get($act-space, "desktop-2");
	}
	&__content {
		color: $act-colour__purple;
		font-family: $montserrat;
		font-size: $act-font-size__desktop-h4;
		font-style: italic;
		font-weight: $act-font-weight__semibold;
		line-height: $act-line-height__130;
		margin-top: map-get($act-space, "desktop-0");
	}
}

.act-service-card {
	background-color: $act-colour__light-grey;
	box-shadow: inset 4px 0 0 0 $act-colour__purple, inset 0 0 0 0px $act-colour__purple, inset 0 0 0 0 $act-colour__purple, inset 0 0 0 0 $act-colour__purple;
	display: flex;
	flex-direction: column;
	margin: map-get($act-space, "desktop-4") 0px;
	padding: map-get($act-space, "desktop-3");
	width: fit-content;
	&__title {
		color: $act-colour__black;
		font-family: $montserrat;
		font-size: $act-font-size__desktop-h4;
		font-weight: $act-font-weight__semibold;
		margin-bottom: map-get($act-space, "desktop-1");
	}
	&__body {
		color: $act-colour__black;
		font-size: $act-font-size__desktop-h6;
		font-weight: $act-font-weight__regular;
		line-height: $act-line-height__150;
	}
	&__cta {
		margin-top: map-get($act-space, "desktop-1");
	}
}

.act-content__managed-by {
	display: flex;
	width: 100%;
	justify-content: center;
	border-top: 1px solid $act-colour__grey;
	padding: 0 map-get($act-space, "desktop-2") 0 map-get($act-space, "desktop-2");
	p {
		padding: map-get($act-space, "desktop-4") 0 map-get($act-space, "desktop-4") 0;
	}
}

.act-table-contents {
	&__container {
		padding-left: map-get($act-space, "desktop-2");
		border-left: 1px solid $act-colour__black;
	}
	&__content {
		list-style-type: none;
		&__item {
			margin-left: 0;
			padding: map-get($act-space, "desktop-0") 0;
		}
	}
	&__title {
		margin: 0;
	}
}

.toc {
	margin-bottom: $act-space__desktop-4;
	&__highlight {
		background-color: $act-colour__light-grey;
		color: $act-colour__black !important;
		outline: 1px solid $act-colour__light-lavender-hover;
	}
	h2 {
		margin: 0;
	}
}

.act-links-list {
	&__content {
		list-style-type: none;
		&__item {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-left: 0;
			width: 100%;
			&__text {
				align-items: center;
				border-bottom: 1px solid $act-colour__middle-grey;
				display: flex;
				flex-direction: row;
				font-family: $sourcesanspro;
				font-weight: normal;
				justify-content: space-between;
				padding: 16px 0;
				width: 100%;
				color: $act-colour__black;
				padding-left: map-get($act-space, "desktop-1");
				span {
					position: relative;
				}
				&:focus,
				&:hover {
					color: $act-colour__black;
					background-color: $act-colour__light-lavender-hover;
					border-color: $act-colour__light-lavender-hover;
				}
			}
			&__icon {
				color: $act-colour__purple;
				margin-right: $act-space__desktop-2;
			}
		}
	}
	&__content-grid {
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr 1fr;
		@include devices(mobile) {
			grid-template-columns: 1fr;
		}
		grid-column-gap: 32px;
		height: auto;
		justify-content: space-between;
		&__item {
			align-items: center;
			border-bottom: 1px solid $act-colour__middle-grey;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-left: 0;
			width: 100%;
			&__text {
				align-items: center;
				border-bottom: none;
				display: flex;
				flex-direction: row;
				font-family: $sourcesanspro;
				font-weight: normal;
				justify-content: space-between;
				padding: 16px 0;
				width: 100%;
				color: $act-colour__black;
				padding-left: map-get($act-space, "desktop-1");
				span {
					position: relative;
				}
				&:focus,
				&:hover {
					border-bottom: none;
					color: $act-colour__black;
					background-color: $act-colour__light-lavender-hover;
					border-color: $act-colour__light-lavender-hover;
				}
			}
			&__icon {
				color: $act-colour__purple;
				margin-right: $act-space__desktop-2;
			}
			&:focus,
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
}
.act-content-block-grid {
	display: grid;
	column-gap: map-get($act-space, "desktop-3");
	row-gap: map-get($act-space, "desktop-3");
	margin: map-get($act-space, "desktop-5") 0px;
	@include devices(mobile) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		column-gap: 0;
	}
	@include devices(tablet) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@include devices(desktop) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.act-content-block {
		&__col-span-2 {
			@include devices(tablet) {
				grid-column: span 1;
			}
			@include devices(mobile) {
				grid-column: span 1;
			}
		}
		&__col-span-3 {
			@include devices(tablet) {
				grid-column: span 2;
			}
			@include devices(mobile) {
				grid-column: span 1;
			}
		}
		&__col-span-4 {
			@include devices(tablet) {
				grid-column: span 2;
			}
			@include devices(mobile) {
				grid-column: span 1;
			}
		}
		&__row-span-2 {
			@include devices(tablet) {
				grid-row: span 1;
			}
			@include devices(mobile) {
				grid-row: span 1;
			}
		}
		&__row-span-3 {
			@include devices(tablet) {
				grid-row: span 2;
			}
			@include devices(mobile) {
				grid-row: span 1;
			}
		}
		&__row-span-4 {
			@include devices(tablet) {
				grid-row: span 2;
			}
			@include devices(mobile) {
				grid-row: span 1;
			}
		}
	}
	&__1-col {
		@include devices(mobile) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
			column-gap: 0;
		}
		@include devices(tablet) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
		@include devices(desktop) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
	&__2-col {
		@include devices(mobile) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
			column-gap: 0;
		}
		@include devices(tablet) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		@include devices(desktop) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
	&__3-col {
		@include devices(mobile) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
			column-gap: 0;
		}
		@include devices(tablet) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
		@include devices(desktop) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
.act-content-block {
	align-items: stretch;
	border: 0px solid transparent;
	display: flex;
	margin: $act-space__desktop-5 0;
	&__container {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}
	[class*="__image"] {
		background-color: $act-colour__middle-grey;
		display: none;
		height: map-get($act-space, "desktop-11");
		margin-bottom: map-get($act-space, "desktop-3");
		min-height: map-get($act-space, "desktop-11");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
	}
	&__content {
		align-items: flex-start;
		color: $act-colour__black;
		display: flex;
		// height: 100%;
		flex-direction: column;
		justify-content: flex-start;
		// padding: map-get($act-space, "desktop-3");
		width: 100%;
		word-wrap: anywhere;
		[class*="__icon"] {
			display: none;
			margin-bottom: map-get($act-space, "desktop-3");
			z {
				align-items: center;
				color: $act-colour__purple;
				display: inline-flex;
				font-size: 32px;
				justify-content: center;
				::before {
					height: 32px;
				}
			}
		}
		[class*="__title"] {
			color: $act-colour__black;
			font-family: $montserrat;
			font-size: $act-font-size__desktop-h5;
			font-weight: $act-font-weight__semibold;
			line-height: $act-line-height__130;
			margin-bottom: map-get($act-space, "desktop-1");
			margin-top: 0;
		}
		[class*="__description"] {
			color: $act-colour__black;
			font-size: $act-font-size__desktop-p;
			font-weight: $act-font-weight__regular;
			line-height: $act-line-height__150;
		}
	}

	/* Feature Toggles */
	&__feature--image {
		[class*="__image"] {
			display: flex;
		}
	}
	&__feature--icon {
		[class*="__icon"] {
			display: flex;
		}
	}
	&__feature--none {
		[class*="__image"],
		[class*="__icon"] {
			display: none;
		}
	}
	&__feature--links-list {
		// display:none;
		[class*="act-content-block__content"] {
			padding-bottom: 0;
		}
	}
	.act-links-list {
		padding: 0 0 $act-space__desktop-3;
		width: 100%;
	}
}

.act-framed-media {
	padding: $act-space__desktop-2;
	width: 100%;
	&:first-child {
		padding-top: 0;
	}
	&__container {
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		iframe,
		embed,
		img {
			height: 100%;
			left: 0;
			max-width: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	&__caption {
		background: $act-colour__light-grey;
		padding: $act-space__desktop-2;
	}
}
