.act-sidebar {
	align-items: flex-start;
	background-color: $act-colour__success-light-purple-background;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	&__title {
		color: $act-colour__black;
		font-family: $montserrat;
		font-size: $act-font-size__desktop-h5;
		font-weight: $act-font-weight__semibold;
		padding: map-get($act-space, "desktop-2");
		width: 100%;
	}
	&__item {
		color: $act-colour__black;
		font-size: $act-font-size__desktop-h5;
		width: 100%;
		a {
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
		&:active {
			// background-color: $act-colour__purple;
			color: $act-colour__white;
		}
		&__summary {
			border-top: 1px solid $act-colour__white;
			color: $act-colour__black;
			cursor: pointer;
			font-size: $act-font-size__desktop-h6;
			font-weight: $act-font-weight__semibold;
			padding: map-get($act-space, "desktop-2");
			width: 100%;
			list-style: none;
			transition: background-color 0.1s $act-animation__cubic-bezier;
			a {
				font-family: $montserrat;
				border: none;
			}
			&:hover,
			&:focus {
				background-color: $act-colour__pastel-violet;
				a {
					text-decoration: underline;
				}
			}
			&.selected {
				background-color: $act-colour__purple;
				color: $act-colour__white;
				a {
					color: $act-colour__white;
				}

				&:hover,
				&:focus {
					background-color: $act-colour__purple;
					color: $act-colour__white;
				}
			}
		}
		&__summary::after {
			display: inline-block;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $act-colour__black;
			margin-left: 5px;
		}
		.act-sidebar__item {
			.act-sidebar__item {
				&__summary {
					padding-left: $act-space__desktop-4;
					a {
						margin: 0;
					}
				}
				&__dropdown {
					list-style: none;
					border-top: 1px solid $act-colour__white;
					color: $act-colour__purple;
					cursor: pointer;
					font-size: $act-font-size__desktop-p;
					font-weight: $act-font-weight__regular;
					width: 100%;
					margin: 0;
					&__item {
						margin: 0;
						padding: 0;
						transition: background-color 0.1s $act-animation__cubic-bezier;
						a {
							border-bottom: 1px solid $act-colour__white;
							margin: 0;
							padding: $act-space__desktop-2 $act-space__desktop-2 $act-space__desktop-2 $act-space__desktop-5;
							display: block;
							&:hover,
							&:focus {
								background-color: $act-colour__pastel-violet;
								color: $act-colour__purple;
							}
							&.selected {
								background-color: $act-colour__purple;
								color: $act-colour__white;
								a {
									color: $act-colour__white;
								}

								&:hover,
								&:focus {
									background-color: $act-colour__purple;
									color: $act-colour__white;
								}
							}
						}
					}
					&__item:last-of-type {
						a {
							border: none;
						}
					}
					&__closed {
						display: none;
					}
					&__open {
						display: block;
					}
				}
			}
		}
	}

	//handles the custom icon for the details element
	details {
		summary {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			user-select: none;
			.summary-chevron {
				display: none;
			}
			&.has-children {
				.summary-chevron {
					display: block;
				}
			}
		}
		summary::-webkit-details-marker {
			display: none;
		}
	}
	details[open] > summary {
		> a {
			font-weight: bold;
		}
	}
	details[open] > summary > .summary-chevron > svg {
		transform: rotate(180deg);
	}
}
