.act-popular-links {
	.act-box {
		@include devices(mobile) {
			margin: 0 map-get($act-space, "desktop-0");
			padding: 0 map-get($act-space, "desktop-0");
		}
	}
}

.padding-none {
	padding: 0 !important;
}
.margin-none {
	margin: 0 !important;
}
