.act-popular-links {
	.act-box {
		@include devices(mobile) {
			margin: 0 map-get($act-space, "desktop-0");
			padding: 0 map-get($act-space, "desktop-0");
		}
	}
}

.display-none {
	display: none !important;
}

.margin-none {
	margin: 0 !important;
}

.padding-none {
	padding: 0 !important;
}

.act-header {
	position: relative;
}
