/* ACT Design System */
/* Design Tokens */ /* Radius */
/* Reference: /?path=/docs/design-radius--page */

$act-radius__desktop-0: 0px;
$act-radius__desktop-4: 4px;
$act-radius__desktop-16: 16px;
$act-radius__desktop-full: 50%;
