.act-tabs-container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.act-tabs {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	@include devices(tablet) {
		overflow-x: scroll;
	}
	@include devices(mobile) {
		overflow-x: scroll;
	}
	&__tab {
		align-items: center;
		box-shadow: inset 0 0 0 0 $act-colour__white, inset 0 0 0 0 $act-colour__white, inset 0 0 0 0 $act-colour__white, 0 2px 0 $act-colour__purple;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		font-size: $act-font-size__desktop-h6;
		justify-content: flex-start;
		padding: map-get($act-space, "desktop-1") map-get($act-space, "desktop-2");
		min-width: 140px;
		width: fit-content;
		&:hover {
			color: $act-colour__purple;
			background-color: $act-colour__light-purple;
			// font-weight: $act-font-weight__semibold;
		}
		&__active {
			background-color: $act-colour__light-purple;
			color: $act-colour__purple;
			font-weight: $act-font-weight__semibold;
		}
	}
	&__content {
		align-items: center;
		background-color: $act-colour__light-grey;
		display: flex;
		font-size: $act-font-size__desktop-h6;
		justify-content: center;
		padding: map-get($act-space, "desktop-2");
		margin-top: 2px;
		width: 100%;
		&__open {
			display: flex;
		}
		&__closed {
			display: none;
		}
	}
}
