.act-table-container {
	max-width: 100%;
	overflow-x: scroll;
	margin: map-get($act-space, "desktop-3") 0px;
	@include devices(desktop) {
		-ms-overflow-style: none;
		scrollbar-width: none;
		::-webkit-scrollbar {
			display: none;
		}
	}
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: #888;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
table,
.act-table {
	border-collapse: collapse;
	margin-top: $act-space__desktop-2;
	width: 100%;
	thead,
	tfoot {
		tr {
			td,
			th {
				background-color: $act-colour__middle-dark-grey;
				border: 1px solid $act-colour__middle-dark-grey;
				border-left: 1px solid $act-colour__middle-dark-grey;
				border-radius: 0px !important;
				border-right: 1px solid $act-colour__middle-dark-grey;
				color: $act-colour__white !important;
				font-family: $montserrat;
				font-size: $act-font-size__desktop-p;
				font-weight: $act-font-weight__semibold;
				line-height: $act-line-height__150;
				padding: map-get($act-space, "desktop-2");
				text-align: left;
				p {
					color: $act-colour__white !important;
				}
			}
		}
	}
	&__underlined {
		thead,
		tfoot {
			tr {
				td,
				th {
					background-color: $act-colour__white;
					border: 1px solid $act-colour__grey;
					border-left: 0px solid $act-colour__white;
					border-radius: 0px !important;
					border-right: 0px solid $act-colour__white;
					border-top: 0px solid $act-colour__white;
					color: $act-colour__black !important;
				}
			}
		}
	}
	&__bordered {
		thead,
		tbody,
		tfoot {
			tr {
				td,
				th {
					background-color: $act-colour__white;
					border: 1px solid $act-colour__middle-grey;
					border-left: 1px solid $act-colour__middle-grey;
					border-radius: 0px !important;
					border-right: 1px solid $act-colour__middle-grey;
					border-top: 1px solid $act-colour__middle-grey;
					color: $act-colour__black !important;
				}
			}
		}
	}
	&__filled-bordered {
		thead,
		tfoot {
			tr {
				td,
				th {
					background-color: $act-colour__middle-dark-grey;
					border: 1px solid $act-colour__middle-grey;
					border-left: 1px solid $act-colour__middle-grey;
					border-radius: 0px !important;
					border-right: 1px solid $act-colour__middle-grey;
					border-top: 1px solid $act-colour__middle-grey;
					color: $act-colour__white !important;
					p {
						color: $act-colour__white !important;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					background-color: $act-colour__light-grey;
					border: 1px solid $act-colour__middle-grey;
					border-left: 1px solid $act-colour__middle-grey;
					border-radius: 0px !important;
					border-right: 1px solid $act-colour__middle-grey;
					border-top: 1px solid $act-colour__middle-grey;
				}
			}
		}
	}
	tbody {
		border-radius: 0px !important;
		box-shadow: none !important;
		tr {
			td {
				border-bottom: 1px solid $act-colour__middle-grey;
				border-left: 1px solid transparent;
				border-radius: 0px !important;
				border-right: 1px solid transparent;
				font-size: $act-font-size__desktop-p;
				font-weight: $act-font-weight__regular;
				line-height: $act-line-height__150;
				padding: map-get($act-space, "desktop-2");
				vertical-align: middle;
			}
			&:last-child {
				td {
					border-bottom: 1px solid $act-colour__middle-grey !important;
				}
			}
			&:nth-child(even) {
				td {
					background-color: $act-colour__light-grey;
				}
			}
		}
	}

	* {
		word-break: normal;
		word-wrap: normal;
		overflow-wrap: normal;
	}
}
