.act-button-group {
	display: grid;
	gap: 1.25rem;
	grid-auto-flow: column;
	@include devices(mobile) {
		grid-auto-flow: row;
		width: 100%;
		gap: 0.5rem;
		.act-button {
			width: 100%;
		}
	}
}

.act-button {
	align-items: center;
	border: 2px solid transparent;
	border-radius: 0px;
	box-shadow: none;
	cursor: pointer;
	display: inline-flex;
	font-size: $act-font-size__desktop-h6;
	font-weight: $act-font-weight__bold;
	justify-content: center;
	line-height: $act-line-height__110;
	margin: map-get($act-space, "desktop-1");
	text-decoration: none;
	outline: none;
	width: fit-content;
	&:only-child {
		margin: map-get($act-space, "desktop-1") 0px;
	}
	z {
		display: none;
		height: 20px;
		max-height: 20px;
		max-width: 20px;
		min-height: 20px;
		min-width: 20px;
		width: 20px;
	}
	/* Button Sizes */
	&__normal,
	&__default {
		min-height: 56px;
		padding: map-get($act-space, "desktop-2") map-get($act-space, "desktop-3");
	}
	&__xsmall {
		height: 24px;
		font-size: calc(#{$act-font-size__desktop-p-small} - 1px);
		padding: map-get($act-space, "desktop-0") map-get($act-space, "desktop-2");
		z {
			height: 12px;
			max-height: 12px;
			max-width: 12px;
			min-height: 12px;
			min-width: 12px;
			width: 12px;
		}
	}
	&__small {
		height: 40px;
		padding: map-get($act-space, "desktop-1");
	}
	&__large {
		height: 72px;
		padding: map-get($act-space, "desktop-3") map-get($act-space, "desktop-4");
	}
	/* Button Types */
	&__primary {
		background-color: $act-colour__purple;
		color: $act-colour__white;
		z {
			color: $act-colour__white;
		}
		&:hover,
		&-hover {
			background-color: $act-colour__dark-deep-violet;
			color: $act-colour__white;
		}
		&:active,
		&-active {
			background-color: $act-colour__dark-deep-violet;
			color: $act-colour__white;
		}
		&:focus,
		&-focus {
			border-color: $act-colour__purple;
			box-shadow: 0 0 0 2px $act-colour__white, 0 0 0 4px $act-colour__purple;
			color: $act-colour__white;
			z {
				color: $act-colour__white;
			}
		}
		&:disabled,
		&-disabled {
			background-color: $act-colour__middle-grey;
			pointer-events: none;
		}
	}
	&__secondary {
		background-color: $act-colour__white;
		border: 2px solid $act-colour__purple;
		color: $act-colour__purple;
		&:hover,
		&-hover {
			background-color: $act-colour__success-light-purple-background;
			border-color: $act-colour__dark-deep-violet;
			color: $act-colour__dark-deep-violet;
			z {
				color: inherit;
			}
		}
		&:active,
		&-active {
			background-color: $act-colour__success-light-purple-background;
			border-color: $act-colour__dark-deep-violet;
			color: $act-colour__dark-deep-violet;
			z {
				color: $act-colour__dark-deep-violet;
			}
		}
		&:focus,
		&-focus {
			border-color: $act-colour__purple;
			box-shadow: 0 0 0 2px $act-colour__white, 0 0 0 4px $act-colour__purple;
			color: $act-colour__dark-deep-violet;
			z {
				color: $act-colour__purple;
			}
		}
		&:disabled,
		&-disabled {
			border-color: $act-colour__middle-grey;
			color: $act-colour__middle-grey;
			pointer-events: none;
			z {
				color: $act-colour__middle-grey;
			}
		}
	}
	&__tertiary {
		background-color: $act-colour__white;
		border: 2px solid $act-colour__white;
		color: $act-colour__purple;
		z {
			color: $act-colour__purple;
		}
		&:hover,
		&-hover {
			border-color: $act-colour__white;
			color: $act-colour__dark-deep-violet;
			z {
				color: $act-colour__dark-deep-violet;
			}
		}
		&:active,
		&-active {
			border-color: $act-colour__white;
			color: $act-colour__dark-deep-violet;
			z {
				color: $act-colour__dark-deep-violet;
			}
		}
		&:focus,
		&-focus {
			border-color: $act-colour__white;
			box-shadow: 0 0 0 2px $act-colour__white, 0 0 0 4px $act-colour__purple;
			color: $act-colour__dark-deep-violet;
			z {
				color: $act-colour__purple;
			}
		}
		&:disabled,
		&-disabled {
			border-color: $act-colour__white;
			color: $act-colour__middle-grey;
			pointer-events: none;
			z {
				color: $act-colour__middle-grey;
			}
		}
	}
	/* Link Types */
	&__inline {
		background-color: transparent;
		color: $act-colour__purple;
		height: unset;
		display: inline;
		margin: 0px !important;
		padding: 0px !important;
		z {
			display: none !important;
		}
		&:hover,
		&-hover {
			border-color: transparent;
			color: $act-colour__light-deep-violet;
		}
		&:active,
		&-active {
			color: $act-colour__bright-violet;
		}
		&:focus,
		&-focus {
			border: 2px solid $act-colour__dark-deep-violet;
			color: $act-colour__dark-deep-violet;
		}
		&:disabled,
		&-disabled {
			color: $act-colour__middle-grey;
		}
		/* White Link */
		&-white {
			color: $act-colour__white;
		}
		/* Small Link */
		&-small {
			font-size: 10px;
			font-weight: $act-font-weight__semibold;
			line-height: $act-line-height__100;
			text-decoration: none;
			padding: map-get($act-space, "desktop-1") !important;
			&:hover,
			&-hover,
			&:focus {
				color: $act-colour__middle-grey;
			}
			@include devices(mobile) {
				padding: map-get($act-space, "desktop-0") !important;
			}
			@include devices(tablet) {
				padding: map-get($act-space, "desktop-0") !important;
			}
			@include devices(desktop) {
				padding: map-get($act-space, "desktop-1") !important;
			}
		}
	}
	/* Icon Types */
	&__no-icon {
		z {
			display: none !important;
		}
	}
	&__icon-left {
		flex-direction: row-reverse;
		z {
			color: inherit;
			display: flex;
			margin-right: map-get($act-space, "desktop-1");
		}
	}
	&__icon-right {
		flex-direction: row;
		z {
			color: inherit;
			display: flex;
			margin-left: map-get($act-space, "desktop-1");
		}
	}
	/* Back To Top */
	&__back-to-top {
		border: 2px solid $act-colour__middle-dark-grey;
		border-radius: $act-radius__desktop-full;
		bottom: 100px;
		background: $act-colour__white;
		color: $act-colour__middle-dark-grey;
		padding: map-get($act-space, "desktop-17") map-get($act-space, "desktop-3");
		margin: 0 !important;
		transition: all 100ms cubic-bezier(0, 0, 0.58, 1);
		opacity: 1;
		&__hidden {
			opacity: 0;
			display: none;
		}
		z {
			margin-left: 0px;
			font-size: $act-font-size__desktop-h1;
			height: 40px;
			max-height: 40px;
			min-height: 40px;
		}
		&:hover,
		&-hover {
			background-color: $act-colour__black;
		}
		&:active,
		&-active {
			background-color: $act-colour__black;
		}
		&:focus,
		&-focus {
			background-color: $act-colour__black;
			z {
				color: $act-colour__white;
			}
		}
		@include devices(mobile) {
			padding: $act-space__desktop-3 $act-space__desktop-2;
			z {
				font-size: $act-font-size__desktop-h2;
			}
		}
		&__mobile {
			padding: 0 $act-space__desktop-2;
			z {
				font-size: $act-font-size__desktop-h2;
			}
		}
	}
}
